.Modal {
  background-color: #494949;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 500px;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 50px;
}

.Bandeira {
  display: flex;
  justify-content: center;
}

.Titulos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.Formulario {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
}

.Inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Botao {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
